/*div.sam
{
transform:scale(0.1);
-ms-transform:scale(0.1); 	
-moz-transform:scale(0.1); 	
-webkit-transform:scale(1); 
-o-transform:scale(0.2); 	
}*/
body{padding-left:50px;}
div.sam p{
	-webkit-font-smoothing:antialiased;
	text-shadow:1px 1px 1px rgba(0,0,0,0.004);
	font-size:14px;line-height:20px;white-space:nowrap;word-break:keep-all;
}
div.canvas{
	margin-top:10px;
	padding:40px;
	width:700px;
	height:1100px;
	border:1px solid #ccc;
}
p{font-size:14px;line-height:24px;text-indent:2em;}